html, body, h1, p, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container {
  width: 959px;
  margin: 15vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('img/grid.png');
}

.field-wrapper {
  width: calc(100% - 69px);
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 35px;
  margin-right: 35px;
}
.number {
  margin-left: 43px;
  color: #37259d;
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 18px;
}

.number > span {
  letter-spacing: -1px;
}

.column {
  display: flex;
}

.letter {
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #37259d;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 3px;
}

.field {
  width: 325px;
  height: 325px;
  border: 3px solid #37259d;
}

.instruction {
  width: 425px;
}

.instruction p {
  font-size: 21px;
  margin-top: 7px;
  cursor: pointer;
}

.initial-ships li {
  height: 35px;
  position: relative;
  overflow: hidden;
  margin-top: 31px;
}

.ship, .icon-field, .btn-play {
  background: url('img/sprite.png') no-repeat;
}

.ship {
  height: 35px;
  position: absolute;
}

.fourdeck {
  width: 134px;
  background-position: 0 0;
}

.tripledeck {
  width: 101px;
  background-position: -150px 0;
}

.doubledeck {
  width: 68px;
  background-position: -270px 0;
}

.singledeck {
  width: 35px;
  background-position: -360px 0;
}
.initial-ships .ship {
  left: 0;
  top: 0;
  float: left;
  cursor: move;
}
.initial-ships .tripledeck1 {
  left: 164px;
}
.initial-ships .tripledeck2 {
  left: 297px;
}
.initial-ships .doubledeck2 {
  left: 99px;
}
.initial-ships .doubledeck3 {
  left: 197px;
}
.initial-ships .singledeck2 {
  left: 65px;
}
.initial-ships .singledeck3 {
  left: 131px;
}
.initial-ships .singledeck4 {
  left: 197px;
}