html, body, h1, p, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container {
  width: 959px;
  height: 700px;
  margin: 15vh auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('img/grid.png');
}

.field-wrapper {
  width: calc(100% - 68px);
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 35px;
  margin-right: 35px;
}
.number {
  margin-left: 43px;
  color: #37259d;
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 18px;
}

.number > span {
  letter-spacing: -1px;
}

.column {
  display: flex;
  width: 363px;
  justify-content: space-between;
}

.letter {
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #37259d;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 3px;
}

.field {
  position: relative;
  width: 330px;
  height: 330px;
  border: 4px solid #37259d;
  box-sizing: border-box;
}

.instruction {
  width: 425px;
}

.instruction p {
  font-size: 21px;
  margin-top: 7px;
  cursor: pointer;
}

.initial-ships li {
  height: 35px;
  position: relative;
  overflow: hidden;
  margin-top: 31px;
}

/*.ship, .icon-field, .btn-play {*/
/*  background: url('img/sprite.png') no-repeat;*/
/*}*/

.ship {
  height: 33px;
  position: absolute;
  border: 2px solid #37259d;
  box-sizing: border-box;
}

.fourdeck {
  width: 132px;
}

.tripledeck {
  width: 99px;
}

.doubledeck {
  width: 66px;
}

.singledeck {
  width: 33px;
}
.initial-ships .ship {
  left: 0;
  top: 0;
  float: left;
  cursor: move;
}
.initial-ships .tripledeck1 {
  left: 164px;
}
.initial-ships .tripledeck2 {
  left: 297px;
}
.initial-ships .doubledeck2 {
  left: 99px;
}
.initial-ships .doubledeck3 {
  left: 197px;
}
.initial-ships .singledeck2 {
  left: 65px;
}
.initial-ships .singledeck3 {
  left: 131px;
}
.initial-ships .singledeck4 {
  left: 197px;
}

/* стиль для вертикального положения корабля */
.vertical {
  transform: rotate(90deg);
  transform-origin: 16.5px 16.5px;
}

.information {
  margin-top: 39px;
}

.btn-play {
  height: 45px;
  width: 123px;
  background: white;
  border: 3px solid #37259d;
  color: #37259d;
  font-size: 25px;
}

.service-text {
  font-size: 21px;
}